<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="<%- blogTitle %>">
  <meta property="og:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta property="og:description" content="데이터 엔지니어의 지식 저장소">

  <!-- Twitter -->
  <meta name="twitter:title" content="<%- blogTitle %>">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta name="twitter:description" content="데이터 엔지니어의 지식 저장소">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="robots" content="index,follow">
  
  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/article.scss" as="style">
  <link rel="canonical" href="https://inkkim.github.io/article/articles.html" />

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/articles.scss">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179600475-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179600475-1');
  </script>
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="articles-container">
      <ul>
        <% articles.reverse().map((article) => { %>
          <li id="articles-list-item">
            <a href="./article/<%= article.id %>.html">
              <h1><%= article.title %></h1>
              <% if (article.subtitle) { %>
                <h2><%= article.subtitle %></h2>
              <% } %>
              <time><%= article.date %></time>
              <ul class="articles-tags">
                <% article.tags.map((tag) => { %>
                  <li>#<%= tag.trim() %></li>
                <% }) %>
              </ul>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
