<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="<%- blogTitle %>">
  <meta property="og:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta property="og:description" content="A Fast Learner| Inkyu-Kim">

  <!-- Twitter -->
  <meta name="twitter:title" content="<%- blogTitle %>">
  <meta name="twitter:image" content="https://user-images.githubusercontent.com/60086878/95056968-6fc5f100-0730-11eb-8359-b6f389b8c468.jpeg">
  <meta name="twitter:description" content="A Fast Learner| Inkyu-Kim">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="robots" content="index,follow">
  
  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/works.scss" as="style">
  <link rel="canonical" href="https://parksb.github.io/works.html" />
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/works.scss">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179600475-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179600475-1');
  </script>
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="works-container">
      <% works.reverse().map((work) => { %>
      <a href="./work/<%= work.id %>.html">
        <div class="works-content">
          <img src="<%= work.thumbnail %>" />
          <h1><%= work.title %></h1>
        </div>
      </a>
      <% }) %>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>